# Database Connection (Default PostgreSQL for local development)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tiffin_db

# Security & Authentication
SECRET_KEY=college_cep_tiffin_services_secret_key_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# File Upload Folder
UPLOAD_DIR=uploads
